.NavBar {
    background-color: #191717;
    border: 1px solid #000;
}

.NavBar button {
    background-color: #FFCC00;
}

.NavLink {
    padding: 5px;
    color: #fff;
    
}

.NavLink:hover {
    color: #FFCC00;
}

.Active i {
    color: #FFCC00;
}

.LoggedInUser {
    color: #00ff00;
}