.NavBar {
    background-color: #191717;
    border: 1px solid #191717;
}

.NavLink {
    padding: 5px;
    color: #fff;
    
}

.NavLink:hover {
    color: #FFCC00;
}

.Active i {
    color: #FFCC00;
}